body{
    background-color: #FFFFFF;
    ;
}

.header {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr min-content 1fr;
    padding: 92px 50px 96px;
    align-items: center;
    font-size: 18px;
    line-height: 1.35;
    font-weight: 400;
    width: 1100px;
    height: 293px;
    
}

.header-link-list {
    gap: 33px;
    display: flex;
    list-style: circle;
}

.header__links-list-item_no-bullit{
    list-style: none;
    text-decoration: none;
    
}

.header-logo {
    display: block;
     padding: 0;
}

.header-logo-image {
    display: block;
    width: 148px;
    height: 105px;
}

.address {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35;
    font-style: normal;
    max-width: 240px;
    justify-self: end;
}

.header-address {
    list-style: none;
}



.cover {
    width: 1100px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.overlay{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}

.cover__title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 100px;
    line-height: 114.99999999999999%;
    text-transform: uppercase;
    color: #FFFFFF;
    
    position: relative;
}

.title-pos{
    position: absolute;
}

.aligned-text {
    letter-spacing: 30px;
    width: 286px;
    height: 115px;
    top: 165px;
    left: 50px;

    
    
}

.aligned-text_center {
    display: flex;
    letter-spacing: 30px;
    width: 339px;
    height: 115px;
    top: 300px;
    left: 380.5px;

}

.aligned-text_right {
    display: flex;
    letter-spacing: 30px;
    width: 387px;
    height: 115px;
    top: 435px;
    left: 663px;

}

.description {
    position: absolute;
    width: 1000px;
    height: 51px;
    top: 656px;
    left: 50px;
    border-width: 1px; 
    font-family: "Raleway";
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.description-text{
    display: inline-block;
    word-spacing: 20px;
}

.description-text-word-spacing{
    word-spacing: 18px;
}


.button{
    width: 256px;
    height: 51px;
    border-width: 1px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 102px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
}

.lots {
    width: 1052px;
    height: 723px;
    margin: 180px 24px 120px;
    box-sizing: border-box;
}

.lots__heading{
    height: 47px;
    width: 121px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0px 891px 27px 40px;

}

.lots__card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.lots__card-list-item {
    position: relative;
    max-width: 334px;
    list-style: none;
    
}

.card-link{
    text-decoration: none;
}

.card-flex-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    width: 100%;
    height: 100%;
}

.card-title{
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    color: #FFFFFF;
    
}

.card-paragrapf{
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #FFFFFF;
}

.card_type_film  {
    width: 334px;
    height: 596px;
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: start;
}

.card_type_book {
    width: 334px;
    height: 596px;
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card_type_picture {
    width: 334px;
    height: 596px;
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.more{
    display: inline-block;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    padding: 30px 102px 0 40px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    column-gap: 25px;
    width: 1052px;
    height: 595px;
    margin: 120px 24px 180px;
    

}

.logo-column {
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-top: 35px;
}

.about__logo-image{
    width: 148px;
    height: 114px;
}

.about__title{
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 140px;

}

.about__text {
    display: grid;
    grid-template-rows: auto auto;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    row-gap: 24px;
    margin-top: 104px;
}


.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    width: 1100px;
    height: 180px;
    padding: 0 50px;

}

.footer-address {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35;
    font-style: normal;
    max-width: 240px;
    justify-self: start;
}

.footer-menu {
    text-align: justify;
    font-size: 18px;
    width: 164px;
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}


.socials {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 48px;

}

.socials-item{
    height: 48px;
    width: 48px;
}